:root {
    --board-width: calc(min(60vh, 90vw))
}

.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: var(--board-width);
    margin: auto;
}

.board-slot {
    width: calc(var(--board-width) / 3);
    height: calc(var(--board-width) / 3);
    font: 'Roboto';
    font-size: calc(var(--board-width) / 6);
    background-color: #F1EFDC;
    color: #D36B00;
    border: 2px solid #42032C;
    transition: background-color 0.1s;
}

.vacant-slot:hover {
    background-color: #E6D2AA;
}